@font-face {
    font-family: admin-font;
    src: url(font-folder/IBMPlexSans-VariableFont_wdth\,wght.woff2);
}

:root {
    font-family: admin-font, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
}  

#page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    padding-right: 20px;
    background-color: rgba(226, 232, 240, 0.709);
    height: 100vh;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 20px;
}

.nav-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    padding: 15px 20px 15px 30px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(130, 132, 144);
}

.nav-links a:hover {
    color:rgb(30, 48, 61);
}

.nav-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-divider {
    width: 1px;
    height: 100%;
    background-color: rgb(130, 132, 144);
}

.alerts {
    background-image: url(/project-icons/header-icons/bell-ring-outline.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.profile-pic {
    background-image: url(/project-images/admin-pfp-main.png);
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    border-radius: 50%;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: rgb(30, 48, 61);
    padding: 30px;
    color: white;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:visited {
    color: inherit;
}

#sidebar a:hover {
    font-weight: 900;
}

.side-nav-style {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}


.side-head {
    grid-row: 1 / 2;
}

.side-head p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 110px;
}

.side-nav {
    grid-row: 2 / 3;
}

.side-settings {
    grid-row: 3 / 4;
}

#main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid black;
}