@font-face {
    font-family: admin-font;
    src: url(font-folder/IBMPlexSans-VariableFont_wdth\,wght.woff2);
}

:root {
    font-family: admin-font, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
}  

#page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    padding-right: 20px;
    background-color: rgba(226, 232, 240, 0.709);
    height: 100vh;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 20px;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 15px 20px 15px 30px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(130, 132, 144);
}

.nav-links a:hover {
    color:rgb(30, 48, 61);
}

.nav-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

input.search-bar {
    background-color:rgba(226, 232, 240, 0.709);
    border-radius: 15px;
    height: 25px;
    padding: 10px;
    font-size: 20px;
}

input.search-bar::placeholder {
    background-image: url(project-icons/header-icons/magnify.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

.nav-divider {
    width: 1px;
    height: 100%;
    background-color: rgb(130, 132, 144);
}

.nav-options button {
    background: none;
    border: none;
    cursor: pointer;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header-welcome {
    font-weight: 700;
    font-size: 1.5rem;
}

.header-username {
    font-weight: 600;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: rgb(30, 48, 61);
    padding: 30px;
    color: white;
}

#sidebar svg {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:visited {
    color: inherit;
}

#sidebar a:hover {
    font-weight: 900;
    color: rgb(91, 183, 249);
}

.side-nav-style {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}

.side-head {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
}

.side-head p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.side-nav {
    grid-row: 2 / 3;
}

.side-settings {
    grid-row: 3 / 4;
}

#main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    padding-left: 20px;
}

.content-header {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
}

#project-holder {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
    padding-right: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 7px solid rgb(232, 200, 16);
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
}

.card-head {
    font-weight: 700;
}

.card-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.card-options button {
    background: none;
    border: none;
    cursor: pointer;
}

#announcements-holder {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.side-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
}

.side-card-head {
    font-weight: bold;
}

.card-divider {
    width: 100%;
    background-color: rgba(130, 132, 144, 0.4);
    height: 1px;
}

#trending-holder {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-top: 10px;
}

.trend-profile {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.trend-profile-username {
    font-weight: bold;
}

.profile-pic-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}